# Node.js dependencies
node_modules/

# Environment variables
.env

# OS specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*

# Build directories
dist/
build/

# Cache directories
.cache/
.npm/
